* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn-primary {
  background: rgb(233, 90, 8);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}

body,
html {
  background: #f3f3f3;
  height: 100%;
  overflow-x: hidden;
}
.container {
  max-width: 1350px;
}

/* nav-bar */
header {
  margin: auto;
  margin-top: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
}
.menu-item ul {
  display: flex;
  justify-content: space-around;
  gap: 1.875rem;
  list-style: none;
}
.menu-item li {
  font-weight: 600;
}
.li-clr {
  color: rgb(137, 135, 161);
}

/* banner */
.banner-container {
  display: flex;
  align-items: center;
  margin-top: 120px;
}
.banner-left {
}
.banner-left h2 {
  font-size: 3.125rem;
  font-weight: 700;
  width: 35.625rem;
  margin-bottom: 10px;
  font-family: Noto Serif;
}
.banner-clr {
  color: rgb(233, 90, 8);
}
.banner-left p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  font-weight: 400;
  width: 35.625rem;
  font-family: Inter;
}
.banner-right {
  width: 570px;
  margin-left: 13.125rem;
  display: block;
}
/* plant */
.plant-heading {
  margin: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.plant-heading h2 {
  font-family: Noto Serif;
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  width: 50rem;
}
.plant-heading p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  width: 50rem;
  text-align: center;
  margin: auto;
}
/* Plant-container */
.plants-container {
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}
.plant-card {
  align-items: center;
  text-align: center;
  width: 18.75rem;
  margin-bottom: 20px;
}
.plant-card img {
  width: 300px;
  /* height: 322.94px; */
  margin-bottom: 5px;
}
.plant-card p {
  margin-bottom: 5px;
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.125rem;
}
.plant-card button {
  margin-top: 1rem;
}

/* Flower and Plants Lovers */

.lover-container {
  margin: auto;
  display: flex;
  gap: 4rem;
  /* border: 1px solid; */
  margin-top: 150px;
  /* position: relative; */
}

.lover-right h2 {
  color: rgb(0, 0, 0);
  font-family: Noto Serif;
  font-size: 3.125rem;
  font-weight: 700;
  line: height 3.5rem;
  text-align: left;
  width: 500px;
}
.lover-right li {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line: height 1.375rem;
  margin-top: 1.7rem;
  padding-right: 15px;
}
.lover-right ul {
  padding-left: 40px;
}

.trusted-badge img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 500px;
  top: -90px;
}
.trust-section {
  position: relative;
}
.latest-deal-heading {
  margin: auto;
  margin-top: 120px;
}
.latest-deal-heading h2 {
  font-family: Noto Serif;
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.latest-deal-heading p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin: auto;
  text-align: center;
  width: 800px;
  margin-bottom: 120px;
}
/* Latest Deal Container  */
.latest-deals-container {
  margin-bottom: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: 200px; */
  gap: 20px;
  /* width: 100%; */
  max-width: 1270px;
  margin: auto;
}

.img-box {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  font-family: Noto Serif;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* Individual backgrounds */
.img1 {
  background-image: url("./assets/deal-bloom.png");
  border-radius: 15px;
  width: 450px;
  height: 200px;
}

.img2 {
  background-image: url("./assets/deal-zabo.png");
  grid-row: span 2;
  width: 800px;
  height: 420px;
  border-radius: 15px;
}

.img3 {
  background-image: url("./assets/deal-ana.png");
  border-radius: 15px;
  width: 450px;
  height: 200px;
}

/* Contact */
.contact-container {
  background-image: url("./assets/news-letter-bg.png");
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 80px 20px;
  height: 400px;
  margin-bottom: 100px;
}

.overlay {
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
}

.contact-container h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 20px;
  font-family: Noto Serif;
  font-size: 40px;
}

/* Email Form */
.form-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

input[type="email"] {
  flex: 1;
  padding: 15px;
  border: none;
  font-size: 1rem;
  outline: none;
}

button {
  padding: 0 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d45110;
}

/* about */
.About {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.about-social-media {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: -150px;
}
.about-logo {
  width: 33%;
}
.about-logo p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1rem;
  width: 350px;
  margin-top: 15px;
}
.about-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  color: rgb(107, 114, 128);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 47%;
  margin-bottom: 30px;
}
